<div class='container-fluid'>
    <div class="navi">
        <div class='logo'>Logo</div>
        <div class='photo'>Pic</div>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">웨이팅 관리</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">예약 관리</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">통 계</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">설 정</button>
    </div>
</div>