
/* nav */
.navi {
  background-color: #505160;
  height: 4rem;
  width: 100%;
  position: relative;
}

.log-out.btn {
  background-color: white;
}

.navi h3 {
  padding: 15px;
  color: white;
}

.navi_log-out { 
  right: 0px;
  top: 0px;
  padding: 20px;
  position: absolute;
}
/* main */
.tab {
  position: fixed;
  left: 0px;
  background-color: #68829E;
  width: 16%;
  height: 100%;
}

.tablinks i {
  color: white;
  margin: 0px 10px;
}

.tab button {
  display: block;
  background-color: inherit;
  color:white;
  padding: 20px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #336B87;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #336B87;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 100%;
}

/* login */
.signin-container {
  margin-top: 30%
}
.signin-box {
  max-width: 350px;
}
.signin-card {
  padding: 40px 0px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.text-muted {
  padding-top: 8px;
}
.login-logo {
  background-color: #90AFC5;
  width: 6rem;
  height: 5rem;
}
.signin-btn {
  color: #336B87;
  width: 100%;
}